[submodule "challenges/product-review-card"]
	path = challenges/product-review-card
	url = https://github.com/victorbruce/product-review-card
[submodule "challenges/qr-code-component"]
	path = challenges/qr-code-component
	url = https://github.com/victorbruce/qr-code-component
[submodule "challenges/news-homepage"]
	path = challenges/news-homepage
	url = https://github.com/victorbruce/news-homepage
