* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.product__card {
  background: white;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.product__image {
  max-width: 300px;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__details {
  padding: 24px;
}

.product__details-subtitle {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 32px;
}

.product__details h1 {
  color: hsl(212, 21%, 14%);
  font-size: 38px;
  margin-bottom: 24px;
}

.product__details-desc {
  font-size: 16px;
  color: hsl(212, 21%, 14%);
  line-height: 22px;
  margin-bottom: 32px;
}

.product__price {
  display: flex;
  gap: 16px;
  align-items: center;
}

.product__price p {
  font-size: 32px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}

.product__price s {
  color: hsl(228, 12%, 48%);
}

.product__buy-btn {
	border: none;
	margin-top: 24px;
	font-size: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
}
