* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/* UTILS */
.uppercase {
  text-transform: uppercase;
}

body {
  background-color: var(--cream);
  font-family: 'Montserrat', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.product__card {
  background: var(--white);
  max-width: 620px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.product__image {
  background-image: url(../images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
  width: 50vw;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__details {
  padding: 48px;
  color: var(--dark-grayish-blue);

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product__details-subtitle {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}

.product__details h1 {
  color: var(--dark-blue);
  font-size: 38px;
  font-family: 'Fraunces', serif;
}

.product__details-desc {
  font-size: 14px;
  color: var(--dark-blue);
  line-height: 22px;
}

.product__price {
  display: flex;
  gap: 16px;
  align-items: center;
}

.product__price p {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--dark-cyan);
}

.product__price s {
  color: var(--dark-grayish-blue);
}

.product__buy-btn {
	border: none;
	font-size: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--dark-cyan);
	color: var(--white);
}

.product__buy-btn:hover {
  background-color: hsl(158, 36%, 28%);
  transition: 1s all;
}


@media (max-width: 600px) {
  body {
    padding: 16px;
  }

  .product__card {
    flex-direction: column;
    max-width: 600px;
  }

  .product__image {
    background-image: url(../images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 280px;
  }

  .product__details h1 {
    font-size: 32px;
  }

  .product__details {
    padding: 32px;
  }
}